* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.App {
    max-width: 400px;
    height: 100%;
    padding: 5rem 7rem 5rem 0;
}

.App main {
    height: 100%;
    overflow-y: auto;
}

.emote {
    display: block;
    height: 2rem;
}